/* Общие стили */

:root {
    --background-color: rgb(255, 255, 255);
    --grey: rgb(225, 225, 225);
    --black: rgb(30, 30, 30);
    --light-blue: rgb(183, 182, 255);
    --blue: rgb(0, 0, 126);
    --red: rgb(182, 0, 0);
    --light-red: rgb(255, 200, 200);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--black);
    background-color: var(--background-color);
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Список */

.nav-menu {
    display: inline-block;
    background-color: var(--grey);
    padding: 15px;
    margin: 8px 0;
    border: 1px solid var(--black);
}

.nav-menu a {
    text-decoration: none;
    color: var(--black);
}

.nav-menu a:hover,
.nav-menu a:focus {
    border-bottom: 2px solid var(--black);
}

.create-button {
    display: inline-block;
    padding: 8px 12px;
    background: var(--grey);
    color: var(--black);
    text-decoration: none;
    margin: 10px 0;
    border: 1px solid var(--black);
}

.create-button:hover {
    background-color: var(--light-blue);
    color: var(--blue);
    border: 1px solid var(--blue);
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  margin-top: 10px;
}

.table th,
.table td {
  padding: 5px 7px;
  border: 1px solid var(--black);
}

.table th {
    background-color: var(--grey);
}

.table a {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
}

.table a:hover,
.table a:focus {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.table .delete:hover,
.table .delete:focus {
    color: var(--red);
    border-bottom: 2px solid var(--red)
}

/* Подробнее */

.back-button {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}

.back-button:hover {
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
}

.detail-card {
    display: inline-block;
    border: 1px solid var(--black);
    padding: 10px;
    margin-top: 10px;
}

/* Изменение, добавление, удаление */

.form {
    display: inline-block;
    border: 1px solid var(--black);
    padding: 15px;
    padding-top: 10px;
    margin-top: 10px;
}

.form input {
    padding: 5px;
    margin: 10px 5px;
}

.form label {
    font-weight: 500;
}

.form .buttons {
    display: inline-flex;
    margin-top: 10px;
    gap: 20px;
}

.form button {
    padding: 8px;
    font-size: 20px;
    background-color: var(--grey);
    border: 1px solid var(--black);
    cursor: pointer;
}

.form button:hover {
    background-color: var(--light-blue);
    color: var(--blue);
    border: 1px solid var(--blue);
}

.form a {
    padding: 8px;
    border: 1px solid var(--black);
    color: var(--black);
    text-decoration: none;
    background-color: var(--grey);
}

.form a:hover {
    opacity: 0.8;
}

.form .delete:hover {
    background-color: var(--light-red);
    color: var(--red);
    border: 1px solid var(--red);
}
