{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список автомобилей</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">
</head>
<body>
    <div>
        <a href="{% url 'owners_list' %}">Список автовладельцев</a>
        <p><strong>Список автомобилей</strong></p>
    </div>
    
    <h1>Список автомобилей</h1>
    
    {% if cars %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Модель</th>
                    <th>Гос. номер</th>
                    <th>Цвет</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for car in cars %}
                <tr>
                    <td>{{ car.id_car }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.license_plate }}</td>
                    <td>{{ car.color|default:"Не указан" }}</td>
                    <td>
                        <a href="{% url 'car_detail' car.id_car %}">
                            Подробнее
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Автомобили не найдены.</p>
    {% endif %}
</body>
</html>
